Card-Classification/model/__pycache__/siamese_resnet.cpython-312.pyc
Card-Classification/data/cifar-10-python.tar.gz
Card-Classification/data/cifar-10-batches-py/readme.html
/Card-Classification/data/cifar-10-batches-py
/Data-Generator/card_images
/card_images
/data_generator/card_images
*.pyc
/card_classification/data
/test_images
