Card-Classification/model/__pycache__/siamese_resnet.cpython-312.pyc
Card-Classification/data/cifar-10-python.tar.gz
Card-Classification/data/cifar-10-batches-py/readme.html
/Card-Classification/data/cifar-10-batches-py
/card_images
*.pyc
/test_images
